body {
    font-family: monospace;
}

section{
    border-color:rgb(173, 167, 190);
    border-style: groove;
    border-width: 1px;
    border-radius: 15px;
    border-collapse: separate;
}

section h1{
        color:cadetblue
}
h2 {
    font-size: medium;
}
.titulo{
    font-family: Impact, Charcoal, sans-serif;
    font-size: 28px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}