<section>
  <h1>Proyectos</h1>
  <div class="container-fluid">
    <div class="row mb-3">
      <div class="col-2">
        <img src="./assets/imagenes/APLogo-20-20.png" style="background-color: rgb(81, 146, 124);" class="img-fluid" alt="Imágen estudio 1 Argentina Programa -
        #YoProgramo.">
      </div>
      <div class="col">
        <h2>Proyecto Argentina Programa</h2>
        <p>YoProgramo</p>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <img src="./assets/imagenes/foto de perfil.jpg" class="img-fluid" alt="Imágen estudio 2">
      </div>
      <div class="col">
        <h2>Argentina Programa 2020</h2>
        <p>SeProgramar</p>
      </div>
    </div>
  </div>
</section>