<section>
    <h1>Hard & Soft Skills</h1>
    <div class="container-fluid">
      <div class="row mb-3">
        <div class="col-2">
          <img src="" class="img-fluid" alt="Porcentaje de conocimiento1">
        </div>
        <div class="col">
          <h2>Conocimiento 1</h2>
          <p>Detalle</p>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <img src="" class="img-fluid" alt="Porcentaje de conocimiento2">
        </div>
        <div class="col">
          <h2>Conocimiento 2</h2>
          <p>Detalle</p>
        </div>
      </div>
    </div>
  </section>