<section>
    <div class="containerdiv container-fluid" style="position: relative; left: 0; top: 0;">
        <div class="row mb-3">
            <img class="banner" src="./assets/imagenes/banner2.jfif" style="width:100%; height:400px;"
                alt="Foto de portada" />
            <img class="cornerimage" [src]="persona.image" style="width: 220px; height:220px;"
                alt="Foto de Maria Gonzalez" />
        </div>
    </div>
    <div class="container-fluid ">
        <div class="row">
            <div class="col">
                <h1 id="fullName"><strong>{{persona.fullName}}</strong></h1>
                <p id="position"><strong>{{persona.position}} </strong> </p>
                <p id="ubication">{{persona.ubication}}</p>
                <p id="mail">{{persona.mail}}</p>
                <p id="aboutMe">{{persona.aboutMe}}</p>
            </div>
            <div class="col"> <button *ngIf="usuarioAutenticado" class="btn btn-dark btn-sm" data-bs-toggle="modal"
                    data-bs-target="#modalEncabezado" (click)="mostrarDatosEncabezado()">Editar</button>
                <!--al botón se le agrega el método mostrar datos por databinding -->
            </div>
        </div>
    </div>
</section>

<!-- Modal Encabezado -->
<div class="modal fade" id="modalEncabezado" tabindex="-1" aria-labelledby="modalEncabezado" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar encabezado</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form">
                    <div class="mb-3">
                        <label for="fullName" class="form-label">Apellido y Nombre</label>
                        <input type="text" class="form-control" id="fullName" aria-describedby="fullNameHelp"
                            formControlName="fullName">
                        <div *ngIf="fullName?.invalid && (fullName?.dirty || fullName?.touched)">
                            <div *ngIf="fullName?.errors?.['required']" class="text-danger">
                                El Apellido y Nombre es obligatorio.
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="position" class="form-label">Posición</label>
                        <input type="text" class="form-control" id="position" aria-describedby="positionHelp"
                            formControlName="position">
                        <div *ngIf="position?.invalid && (position?.dirty || position?.touched)">
                            <div *ngIf="position?.errors?.['required']" class="text-danger">
                                la Posicion actual es obligatoria
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="ubication" class="form-label">Lugar de Residencia</label>
                        <input type="email" class="form-control" id="ubication" aria-describedby="ubicationHelp"
                            formControlName="ubication">
                        <div *ngIf="ubication?.invalid && (ubication?.dirty || ubication?.touched)">
                            <div *ngIf="ubication?.errors?.['required']" class="text-danger">
                                la Ubicación actual es obligatoria
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Imágen de perfil (url)</label>
                        <input type="text" class="form-control" id="image" aria-describedby="imageHelp"
                            formControlName="image">
                        <!-- <div *ngIf="image?.invalid && (image?.dirty || image?.touched)">
                            <div *ngIf="image?.errors?.['required']" class="text-danger">
                                La Imágen de perfil es obligatoria.
                            </div>
                            <div *ngIf="image?.errors?.['pattern']" class="text-danger">
                                El formato de la imágen es inválido.
                            </div>
                        </div>
                        <div id="imageHelp" class="form-text">indicar URL de la imagen</div> -->
                    </div>
                    <div class="mb-3">
                        <label for="mail" class="form-label">Email</label>
                        <input type="email" class="form-control" id="mail" aria-describedby="mailHelp"
                            formControlName="mail">
                        <div *ngIf="mail?.invalid && (mail?.dirty || mail?.touched)">
                            <div *ngIf="mail?.errors?.['required']" class="text-danger">
                                mail required
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="aboutMe" class="form-label">Algo sobre ti</label>
                        <input type="text" class="form-control" id="aboutMe" aria-describedby="aboutMeHelp"
                            formControlName="aboutMe">
                        <div *ngIf="aboutMe?.invalid && (aboutMe?.dirty || aboutMe?.touched)">
                            <div *ngIf="aboutMe?.errors?.['required']" class="text-danger">
                                la Ubuicación actual es obligatoria
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="cerrarModalEncabezado" class="btn btn-secondary"
                    data-bs-dismiss="modal">Salir</button>
                <button type="button" class="btn btn-primary" (click)="guardarEncabezado()">Guardar</button>
            </div>
        </div>
    </div>
</div>